<div class="full-screen d-flex justify-content-center align-items-center text-center">
  <div class="welcome-text text-white">
    <h1 class="display-3">Novosibe✨</h1>
    <p class="lead"><%= welcomeText %></p>
  </div>
</div>
